<p style="color: green"><%= notice %></p>

<div class="page-title-container">
  <h1>Notes</h1>
  <%= link_to "NEW", new_note_path, id: 'new-note-button' %>
</div>


<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
  <% end %>
</div>

<div class="links">
  <h3><%= link_to 'Goals >', goals_path %></h3>
</div>
