<div id="<%= dom_id goal %>">
  <p>
    <strong>Title:</strong>
    <%= goal.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= goal.type %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= goal.note_id %>
  </p>

</div>
