<div class="goal" id="<%= dom_id goal %>">
  <p class='goal-title'>
    <strong>Title:</strong>
    <%= goal.title %>
  </p>

  <p class='goal-type'>
    <strong>Type:</strong>
    <%= goal.display_type %>
  </p>

  <p class='goal-note'>
    <strong>Note:</strong>
    <%= goal.note_id %>
  </p>
</div>
