<p style="color: green"><%= notice %></p>

<div class='goal-heading'>
  <h1>Goals</h1>
</div>

<div id="goals">
  <% @goals.each do |goal| %>
    <%= render 'goal', goal: goal %>
  <% end %>
</div>

<div class="links">
  <h3><%= link_to '< Notes', notes_path %></h3>
</div>
